{% extends 'base_payment.html' %}
{% block title %}Generate Users{% endblock %}

{% block contents %}
    <br /><br /><br /><br /><br />
    <div class="container thumbnail" align="center" style="width: 450px; height: auto">

        <div >
            <h2 style="font-weight: bolder">Generate Random Users</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save">
                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </form>


        </div>
    </div>
{% endblock %}