<style>
    .bimg {
        min-width: 100%;
        min-height: 100%;
        height: 635px;
        background-image: url('/img/img/banner.jpeg');
        padding-left: 0px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<br /><br />
<div class="bimg w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <h2 class="w3-jumbo w3-animate-top" style="font-weight: bolder">Easy <span style="color: red">Books</span> </h2>
    </div>
</div>
