{% extends 'base_payment.html' %}
{% block title %}Login{% endblock %}

{% block contents %}
    <br /><br /><br /><br /><br />
    <div class="container thumbnail" align="center" style="width: 450px; height: auto">

        <div >
            <h2 style="font-weight: bolder">Login</h2>
            <form method="post">

                    <div style="color: red">{{ form.non_field_errors|striptags }}</div>
                    {% csrf_token %}
                    <br /><label>Usernname</label>
                    {{ form.username }}
                    <br /><br /><label>Password&nbsp;&nbsp;</label>
                    {{ form.password }}
                    <br />
                    <br />

                    <button class="btn btn-info" type="submit" style="width:300px">Login</button>

                <br />
                <br />
            </form>

        </div>
    </div>
{% endblock %}